{%extends 'base.html'%} {%load static%} {%block title%}Como ocorre{%endblock%} {%block content%}
<div class="container-sm">
    <H1>Como ocorre o deslizamento de terra?</H1>
    <div class="media-body" style="margin-top:3em; margin-bottom: 3em;">
        Um dos principais fatores do deslizamento de terra é a chuva. Quando ocorre chuva, principalmente em grande quantidade, o solo absorve uma parte da água, enquanto na superfície a água que fica, vai escorrendo em forma de enxurrada. Contudo, a água se
        acumula entre os solos permeáveis e os impermeáveis. O solo úmido não consegue suportar e se rompe, causando o deslizamento de terra.
    </div>
    <h4>A animação abaixo irá explicar de forma visual: </h4>
    <div class="media" style="margin-top:3em;">
        <video width="760" height="540" class="img-fluid" controls>
                    <source src="{% static 'video/animacao1.mp4'%}" type="video/mp4"></source>
                
                </video>


    </div>

</div>

{%endblock%}