{%extends 'base.html'%}
{%load static%}
{%block title%}Deslizamento{%endblock%}

{%block content%}
<div class="card text-center">
    <div class="card bg-dark text-white" style="margin-top:3em;">
        <img width="360" height="540" src="{% static 'image/img3.png'%}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">Deslizamento de Terra</h5>
          <p class="card-text">O termo escorregamento tem diversos sinônimos de uso mais generalizado na linguagem popular como deslizamento, queda de barreira, desbarrancamento, os quais equivalem ao landslide da língua inglesa.</p>
          <p class="card-text">Escorregamentos são movimentos rápidos, de porções de terrenos (solos e rochas), com volumes definidos, deslocando-se sob ação da gravidade, para baixo e para fora do talude ou da vertente.
        </p>
          <p class="card-text">Em termos gerais, um escorregamento ocorre quando a relação entre a resistência ao cisalhamento do material e a tensão de cisalhamento na superfície potencial de movimentação decresce até atingir uma unidade, no momento do escorregamento (Guidicini & Nieble, 1984). Ou seja, no momento em que a força gravitacional vence o atrito interno das partículas, responsável pela estabilidade, a massa de solo movimenta-se encosta abaixo. Normalmente, a infiltração de água no maciço de solo provoca a diminuição ou perda total do atrito entre as partículas. Quando o solo atinge o estado de saturação com perda total do atrito entre as partículas, em processo conhecido como solifluxão, passa a se mobilizar encosta abaixo, formando os movimentos de escoamento do tipo corridas.
        </p>
          <p class="card-text">A velocidade do movimento depende da inclinação da superfície de escorregamento, da causa inicial de movimentação e da natureza do terreno. Variam de quase zero a alguns metros por segundo. Os movimentos mais bruscos ocorrem em terrenos relativamente homogêneos, que combinam coesão com atrito interno elevado. Nestes terrenos a superfície de escorregamento é mais inclinada (Guidicini & Nieble, 1984).
        </p>
        <p class="card-text">Levando em consideração a geometria e a natureza dos materiais instabilizados, os escorregamentos podem ser subdivididos em três tipos: escorregamentos rotacionais ou circulares, escorregamentos translacionais ou planares e escorregamentos em cunha.
        </p>
    
        </div>
      </div>
   
   
      
  </div>
  
  <div class="card-body">
    <h5 class="card-title">Fatores condicionantes dos escorregamentos</h5>
    <p class="card-text"> Os fatores condicionantes dos escorregamentos correspondem principalmente aos elementos do meio físico e, secundariamente, do meio biótico, os quais contribuem para o desencadeamento do processo. No entanto, a ação humana exerce importante influência favorecendo a ocorrência de processos ou minimizando seus efeitos. As causas básicas da instabilidade de vertentes, inclusive dos escorregamentos, são bem conhecidas. São, portanto as condições naturais dadas pelas características intrínsecas dos materiais, sem a ação do homem.</p>
    <p class="card-text">Já os agentes efetivos referem-se ao conjunto de fatores diretamente responsáveis pelo desencadeamento do movimento de massa, incluindo-se a ação humana. Assim, os principais fatores que contribuem para a ocorrência dos escorregamentos são os relacionados com a geologia, geomorfologia, aspectos climáticos e hidrológicos, vegetação e ação do homem relativa à implantação de moradias e vias de acesso, desmatamentos, atividades de mineração, lançamento de águas servidas e de lixo, causando expressivos danos. A pluviosidade é sem dúvida um importante fator condicionante dos escorregamentos. Na região tropical úmida brasileira, a associação dos escorregamentos à estação das chuvas, notadamente às chuvas intensas, já é de conhecimento generalizado.</p>
    <a href="#" class="btn btn-primary">Ir para a animação</a>
</div>
  
{%endblock%}