{%extends 'base.html'%}
{%load static%}
{%block title%}Deslizamento em Manaus{%endblock%}

{%block content%}
<div>
    <H1>aqui ira conter textos e imagens falando sobre os deslizamentos na cidade manaus</H1>
    <H1>aqui ira conter textos e imagens falando sobre os deslizamentos na cidade manaus</H1>
    <H1>aqui ira conter textos e imagens falando sobre os deslizamentos na cidade manaus</H1>
    <H1>aqui ira conter textos e imagens falando sobre os deslizamentos na cidade manaus</H1>
    <H1>aqui ira conter textos e imagens falando sobre os deslizamentos na cidade manaus</H1>

</div>

{%endblock%}