{%extends 'base.html'%}
{%load static%}
{%block title%}Deslizamento em Manaus{%endblock%}

{%block content%}
<div class="card mb-3">
   
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Deslizamento em Manaus</h5>
      <p class="card-text">Suas características geológico-geomorfológicas consistem em uma vasta seção de um tabuleiro com sedimentos datados do período terciário/quaternário e de bacias hidrográficas urbanizadas. Os igarapés de Manaus possuem de 7 a 12 m de barranca lateral que são representados em vales variando entre 30 a 80 metros e separam vários blocos urbanos da cidade. É morfologicamente caracterizada por um baixo planalto argilo-arenoso e são seccionadas por igarapés que abundam na cidade constituindo-se como divisor natural de inúmeros bairros que se constituíram durante a consolidação da cidade. </p>
      <p class="card-text">A estrutura urbana de Manaus está ligada, no setor planimétrico, ao traçado sinuoso das colinas interfluviais que separam os igarapés e, no setor hipsométrico, com os diversos níveis intermediários escalonados existentes no dorso dos tabuleiros terciários.</p>
      <p class="card-text">O termo genérico escorregamentos ou deslizamentos engloba uma variedade de tipos de movimentos de massa de solos, rochas ou detritos, gerados pela ação da gravidade, em terrenos inclinados, tendo como fator deflagrador principal a infiltração de água, principalmente das chuvas</p>
      <p class="card-text">Essa tipologia de eventos supracitados são potencializados e induzidos, e trazem vulnerabilidade e perigo para áreas suscetíveis, isto é, sem infra-estrutura adequada para a territorialização de atividades apesar da legislação ambiental ter provido as chamadas Áreas de Preservação Permanente , a fim de preservar encostas íngremes e leitos de igarapés e rios. </p>
      <p class="card-text">Essa vulnerabilidade por eventos hidrometeorológicos atribui ao país certa comodidade no tratamento do risco, confere a ele um caráter emergencial no momento da crise, pois em muitos casos as instituições não têm força de assistência e proteção para estas áreas .</p>
      <p class="card-text">Em Manaus, por exemplo, no ano de 2007 houve dois dias de chuva que entraram neste contexto com mais ocorrências nestes dias do que a soma de todo o ano de acordo com a SEMDEC, como mostra a Tabela 1.</p>

    </div>
    <img width="360" height="640" src="{% static 'image/img4.png'%}" class="card-img-top" alt="...">
  </div>

{%endblock%}