{%extends 'base.html'%} {%load static%} {%block title%}O que fazer{%endblock%} {%block content%}
<div class="container-sm">
    <H1>O que fazer para prevenir o deslizamento de terra?</H1>
    <div class="media-body" style="margin-top:3em; margin-bottom: 3em;">
        <ol>
            <li>Evitar plantar árvores grandes, como: manga, mamão, abacate.</li>
            <li>Plantar grama e capim.</li>
            <li>Não jogar lixo na encosta pois acumula água.</li>
            <li>Nunca jogue água de pia, tanque ou chuveiro nas encostas. O melhor a fazer para a prevenção é instalar tubos para o escoamento dessas águas usadas.</li>

        </ol>
    </div>
    <h4>A animação abaixo irá explicar de forma visual: </h4>
    <div class="media" style="margin-top:3em;">
        <video width="760" height="540" class="img-fluid" controls>
                        <source src="{% static 'video/animacao2.mp4'%}" type="video/mp4"></source>
                    
                    </video>


    </div>
</div>

{%endblock%}